<footer class="page-footer">
    <h3 style="color:#FAEBD7">More from the universe of THE&nbsp;EGG</h3>
    <ul>
  <li><a href="https://raymond.getenriched.tech">Raymond's Dev Log</a></li>
        <li><a href="https://the-zahir.org">The Zahir</a></li>
        <li><a href="https://falco.deenrich.me">Falco World Tour</a></li>
      <li><a href="https://getenriched.tech">Agnes's Lies</a></li>
      <li><a href="https://deenrich.me">De-Enrichment Curious?</a></li>
</ul>
    <p><a href="../..">THE&nbsp;EGG</a> &copy; <a href="https://noahmasterson.com">Noah Masterson</a></p>
</footer>